/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 60px;
  font-weight: 600;
  color: #c233f2;
}

p{
  font-size: 30px;
  color: #ebebf599;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  margin-bottom: 50px;
}

.lista-botones{
  list-style: none;
  display: flex;
  gap: 15px;
}

button{
  background-color: #65758529;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.button1{
  background-color: #646cff;
}

.button2{
  background-color: #646cff;
}

.vite-logo1{
  width: 350px;
}

.section-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 0 10%;
}


.card{
  background-color: #32363f;
  border-radius: 15px;
  padding-left: 20px;
}

.emoji-card{
  background-color:#65758529;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}